@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,200&family=Raleway:ital,wght@0,700;1,300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #c4bae6;
}

/* for the navigation barr */

.nav {
  background-color: #1a237e;
  display: flex;
  height: 3em;
  justify-content: center;
  align-items: center;
  gap: 33rem;
}

.dashboard {
  font-size: 1.7em;
  color: rgb(255, 254, 254);
  font-weight: bold;
}

.texts {
  font-size: 1.6em;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.about {
  font-size: 1.6em;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*  css for the buttons container */
.btn-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: #4242d7;
  border-radius: 6em;
  height: 2.1rem;
  width: 81vw;
  margin-left: 6rem;
  padding: 1rem 3rem 1rem 3rem;

}

.buttons {
  width: 5rem;
  font-size: 1rem;
  background-color: #96e7aa;
  border-radius: 1em;
  cursor: pointer;
  height: 2.4rem;
}

.buttons:hover {
  width: 6rem;
  font-size: 1.1rem;
  background-color: #23d650;
  border-radius: 1em;
  cursor: pointer;
}

.inp {
  width: 16rem;
  height: 1.9rem;
  border-color: #23fd10;
  background-color: #bcebf3;
  border-radius: 1rem;
  padding: 0em 1em;
}

.animation-text {
  font-size: 1.3rem;
  font-weight: bold;
}

/* css for left and right container */
.container {
  display: flex;
  height: 70vh;
  justify-content: space-between;
  max-width: 100%;
}


.left-container {
  flex: 2;
  background-color: #c4bae6;
  padding: 20px;
  box-sizing: border-box;
}

.right-container {
  flex: 1;
  background-color: #1a237e;
  padding: 20px;
  box-sizing: border-box;
  margin: 1.2rem;
  border: 2px solid black;
  border-radius: 2rem;
  font-family: 'Raleway', sans-serif;
  font-family: 'REM', sans-serif;
}


#canvas-placeholder {
  width: 100%;
  height: 72vh;
}

canvas.p5Canvas {
  width: 100% !important;
  height: 68vh !important
}


/* css for the traversal and instrunction box */

.traverse {
  border: 2px solid black;
  font-weight: bold;
  background-color: #caffb7;
  padding: 1em 2em;
  margin: 1em 0em;
  border-radius: 9px;
}

.traverse p {
  font-size: 1.2em;
  display: inline;
}

.instrunction {
  border: 2px solid black;
  padding: 0.4em 4rem;
  margin-top: 1rem;
  background-color: #caffb7;
  border-radius: 9px;
}

.instrunction p {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.instrunction-data {
  display: block;
  font-size: 1em;
  font-weight: bold;
}


/* css for the footer */

.footerbst {
  background-color: #1a237e;
  height: 1.7rem;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.2em;
  font-size: 1.4rem;
  margin-top: 1em;
}

/* css for the traversal box */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #c9ff94;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 6px solid #ea6060;
  border-radius: 30px;
}

#close-popup-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #1d1414;
  border: none;
  background: none;
}

.traversal-buttons {
  display: flex;
  justify-content: cn;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.travbtn {
  width: 6rem;
  margin: 1rem 0rem 0.4rem 0rem;
  height: 1.9rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #96e7aa;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.travbtn:hover {
  background-color: #4ecb6e;
  width: 7rem;
  height: 2rem;
}






/* Css for making the responsive application */

@media only screen and (max-width: 450px) and (min-width: 330px) {
  .nav {
    gap: 2em;
  }

  .dashboard {
    font-size: 14px;
  }

  .texts {
    font-size: 16px;
  }

  .about {
    font-size: 14px;
  }

  .btn-container {
    margin-top: 0.3em;
    display: block;
    gap: 1em;
    border-radius: 1em;
    height: 8.1rem;
    width: 65vw;
    margin-left: 0.8rem;
  }

  .inp {
    width: 62vw;
    height: 1.6rem;
    margin-bottom: 1em;
  }

  #insert-btn {
    width: 3.5em;
  }
#search-btn{
  width: 3.8em;
}
  #clear-btn {
    width: 3.4em;
  }

  .buttons {
    width: 4.9em;
    font-size: 12px;
    height: 2rem;
    margin: 4px;
  }
  .buttons:hover {
    width: 4.9em;
    font-size: 12px;
    height: 2rem;
    margin: 4px;
  }

  .animation-text {
    font-size: 0.8rem;
    margin-top: 0.1em;
  }

  #speed {
    width: 5em;
    margin-top: 1em;
    height: 0.2em;
  }
  canvas.p5Canvas {
    width: 100% !important;
    height: 52vh !important;
  }
  .container {
    display: block;
    height: 100vh;
    max-width: 98%;
  }
  .right-container {
    padding: 14px;
    margin: 1rem;
    border-radius: 1rem;
  }
  #canvas-placeholder {
    width: 100%;
    height: 49vh;
  }
  .traverse {
    padding: 1em 0.3em;
    margin: 1em 0em;
    border-radius: 21px;
  }
  .traverse p {
    font-size: 0.9em;
    display: inline;
  }
  .instrunction p {  
    font-size: 0.9em; 
  }
  .instrunction {
    padding: 0.4em 0.5rem;
    border-radius: 18px;
  }
  .footerbst {
    height: 1.2rem;
    font-size: 1rem;
    margin-top: 1em;
  }
}